@import "../styles/shared.css";
@import "../styles/inputs.css";

.options {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 16rem;
}

.options>label {
  display: flex;
  gap: 10px;
}

