#global-canvas {
  z-index: 3;
  /* 3 is the magic number that sits above the UI while still letting the slider nob go over the bars */
  position: fixed;
  top: 0px;
  left: 0px;
  /* This makes sure the canvas doesn't stop the user from using the UI */
  pointer-events: none;
  width: 100%;
  /* background-color:#000000; */
  /* display: none; */
}

#global-canvas.music {
  bottom: var(--ytmusic-player-bar-height);
  height: calc(100vh - var(--ytmusic-player-bar-height));
  /* bottom padding for desktop size, overriden below */
}

/* #global-canvas.youtube {
  
} */

/* #canvas2 {
  width: 100%;
  height: 100%;
  position: absolute;
} */

/* Tablet size */
@media (max-width: 935px) {
  #global-canvas.music {
      /* bottom: 60px; */
  }
}

/* mobile size */
@media (max-width: 615px) {
  #global-canvas.music {
      /* on mobile sizes we need to shift it up just a little bit more to get it above the player when the song is focused*/
      z-index: 6;
  }
}
