/* These input styles are used in both the injected UI and on the options page */

.options button.switch {
  position: relative;
  width: 40px;
  height: 24px;
  background-color: transparent;
  border: none;
}

/* switch rail */
.options button.switch::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  border-radius: 8px;
  width: 40px;
  height: 16px;
  background-color: rgba(var(--accent-color-rgb), 0.5);
  transition: background-color .3s;
}

/* switch knob */
.options button.switch::before {
  content: '';
  position: absolute;
  top: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--accent-color);
  transition: left .3s;
}

.options button.switch[aria-pressed="false"]::before {
  left: 0px;
}

.options button.switch[aria-pressed="true"]::before {
  left: 16px;
}

.options input[type="number"]::-webkit-outer-spin-button,
.options input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.options input[type="number"],
.options input[type="text"],
.options select {
  padding: 4px 8px;
  border-radius: 10px;
  font-size: inherit;
  text-align: right;
  width: 16rem;
  border: 0px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  color: inherit;
}

.options select {
  display: block;
  text-align: left;
  position: relative;
}

.options input[type="number"]:focus,
.options input[type="text"]:focus,
.options select:focus {
  /*
    Ideally we would do something more sutle than this but the text isn't legible on the dropdown (since the dropdown itself defaults to white and can't be changed but it respects the color style) 
    It would be possible to just do this for the dropdown but for the sake of consistanty I've done it to all the inputs
  */
  background-color: white;
  color: black;
}
