#vizualizer-button-container {
    width: 70%;
    min-width: 750px;
    margin-left: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 30px;
}

#vizualizer-button-container button {
    background-color: rgb(26, 26, 26);
    color: #aaaaaa;
    border: 1px solid white;
    width: calc(50% - 24px);
    font-size: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    text-align: center;
}

#vizualizer-button-container button:hover{
    background-color: #222222;
    cursor:pointer;
}

.button-selected{
    border: 2px solid rgb(119, 158, 203);
    width: calc(50% - 26px);
    padding-top: 14px;
    padding-bottom: 14px;
    color: white;
}

#canvas1 {
    z-index: 3; /* 3 is the magic number that sits above the UI while still letting the slider nob go over the bars */
    position: fixed;
    top: 0px;
    left: 0px;
    pointer-events: none; /* This makes sure the canvas doesn't stop the user from using the UI */
    width: 100%;
    /* background-color:#000000; */
    /* display: none; */
}

#canvas1.music {
    bottom: 72px; /* bottom padding for desktop size, overriden below */
}

/* #canvas1.youtube {
    
} */

/* #canvas2 {
    width: 100%;
    height: 100%;
    position: absolute;
} */

/* Tablet size */
@media (max-width: 935px) {
    #canvas1.music {
        bottom: 60px;
    }
}

/* mobile size */
@media (max-width: 615px) { 
    #canvas1.music {
        z-index: 6; /* on mobile sizes we need to shift it up just a little bit more to get it above the player when the song is focused*/
    }
}

#notifications-banner{
    position:fixed;
    z-index: 2000;
    /* bottom:100px; */
    bottom:-100px;
    left:30%;
    width:40%;
    height:40px;
    padding-top:5px;
    background-color:rgba(65, 65, 65, 1);
    color:#dddddd;
    text-align: center;
    border-radius: 30px;
    font-size:15px;
    transition: bottom .5s;
}

#settings-modal-background{
    width:100vw;
    height:100vh;
    position: fixed;
    top:0px;
    left:0px;
    display: none;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    z-index:1600;
    background-color: rgba(0,0,0,0.4);
    transition: opacity 0.25s;
    overflow-y: scroll;
}

#settings-modal{
    width:50vw;
    margin-top:10vh;
    margin-bottom: 10vh;
    background-color: #1a1a1a;
    border-radius: 40px;
    font-family:'Roboto', sans-serif;
    padding-bottom:50px;
    min-width: 1050px;
}

#settings-title{
    /* color:#779ecb; */
    color:#ffffff;
    font-size: 50px;
    background-color:#222222;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
    padding-left: 80px;
    border-radius: 40px 40px 0 0;
}

#back-button{
    color:#ffffff;
    font-size: 50px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    border: 2px solid white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 43px;
    text-align: center;
    font-weight: 100;
    padding-left: 1px;
    padding-right: -1px;
}

#back-button:hover{
    background-color: #333333;
}

#visualizer-settings {
    color: #cccccc;
    font-size: 35px;
    padding: 0 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#visualizer-settings > * {
    display: flex;
    gap: 16px;
    align-items: center;
}

.spacer {
    flex-grow: 1;
}

#visualizer-settings input[type="checkbox"] {
    position : relative ;
    /* display : inline-block; */
    width : 65px;
    height : 0; /* This is done to hide the native checkbox so it's just the psudoelements left*/
    /* border-radius: 30px; */
    border: 2px solid gray;
}

/* Switch rail */
#visualizer-settings input[type="checkbox"]::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 65px;
    background-color: rgba(119, 158, 203,0.5);
    border-radius: 21px;
    opacity: 0.3;
    transition: opacity .3s;
    cursor: pointer;
    top: -15px;
}

#visualizer-settings input[type="checkbox"]:checked::before {
    opacity: 1;
}

/* Switch handle */
#visualizer-settings input[type="checkbox"]::after {
    content: '';
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: rgb(119, 158, 203);
    left: 0px;
    top: -21px;
    transition: left .3s;
    cursor: pointer;
}
#visualizer-settings input[type="checkbox"]:checked::after {
    left : 23px;
}

#visualizer-settings input[type="number"]::-webkit-outer-spin-button,
#visualizer-settings input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#visualizer-settings input[type="number"], 
#visualizer-settings input[type="text"] {
    height:42px;
    font-size:30px;
    text-align:right;
    width:200px;
    border:0px solid rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    color:#aaaaaa;
}

#visualizer-settings input[type="number"]:focus,
#visualizer-settings input[type="text"]:focus {
    background-color: rgba(255,255,255,0.1);
    border-radius: 10px;
    top:18px;
    right:78px;
}

.color-sample {
    height: 42px;
    width: 42px;
    border-radius: 5px;
    border: 1px solid white;
    text-align: center;
    color: white;
}
